body {
  padding-left: 11em;
  color: white;
  }
  ul.navbar {
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 2em;
   left: 1em;
   width: 9em }
  h1 {font-family: "courier New",
         Times, serif;}
          ul.navbar li {
          background: white;
          margin: 0.5em 0;
          padding: 0.3em;
          border-right: 1em solid black }
        ul.navbar a {
          text-decoration: none }
        a:link {
          color: blue }
        a:visited {
          color: purple }
          address {
          margin-top: 1em;
          padding-top: 1em;
          border-top: thin dotted }
    h2{font-family: "courier New";}
      h3,h4{font-family: "courier New";
         font-size: 30px;
         font-weight: bolder;
         font-style: oblique;
           color:black;}
      h5{
        font-family: "Time New Roman";
        font-weight: lighter;
        color:grey;
      }
      p{font-family: "Time New Roman";
        font-side:28px;
        font-weight: bolder;}
